/** Center utilities */
.centerCol {
    --flex-direction: column;
}

.centerRow {
    --flex-direction: row;
}

.centerCol,
.centerRow {
    display: flex;
    flex-direction: var(--flex-direction);
    align-items: center;
    justify-content: center;
}