---
import HeadSEO from "../components/HeadSEO.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../layouts/Footer.astro";
---

<html lang="en">
    <HeadSEO title="Startpage" description="Home page" image="" url="" />
    <body class="bg-white">
        <div class="flex flex-col h-full">
            <Navbar />
            <main class="self-center flex-1 h-full my-20 w-96 flex-center-col">
                <div>main content</div>
                <div>main content2</div>
            </main>
            <Footer />
        </div>
    </body>
</html>
