---
const {name, href} = Astro.props;
---

<li class="w-full list-none no-underline text-left m-5 border-none clear-both">
    <a class="no-underline transition-all hover:pl-3 ease-in-out duration-300" href={href}>{name}</a>
</li>