---
import Hyperlink from "./NavLink.astro";
const { name, href } = Astro.props;
---

<li class="relative list-none">
    <Hyperlink href={href}>{name} &dtrif;</Hyperlink>
    <ul
        class="absolute invisible hidden text-center rounded-md shadow-md opacity-0 top-full bg-charcoal w-96"
    >
        <slot />
    </ul>
</li>

<style>
    li:hover > ul,
    ul:hover {
        @apply visible opacity-100 block;
    }
</style>
