---
const { href } = Astro.props;
---

<a class="hover-underline-animation center" href={href}><slot /></a>

<style>
    .hover-underline-animation:hover {
        cursor: pointer;
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
    }

    .hover-underline-animation::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transition: transform 0.2s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
    }

    .hover-underline-animation.left::after {
        transform-origin: bottom right;
    }

    .hover-underline-animation.left:hover::after {
        transform-origin: bottom left;
    }

    .hover-underline-animation.center::after {
        transform-origin: bottom center;
    }

    .hover-underline-animation.center:hover::after {
        transform-origin: bottom center;
    }

    .hover-underline-animation.right::after {
        transform-origin: bottom left;
    }

    .hover-underline-animation.right:hover::after {
        transform-origin: bottom right;
    }
</style>
