<div id="wrapper">
    <svg display="none">
        <symbol id="light" viewBox="0 0 24 24">
            <g stroke="currentColor" stroke-width="2" stroke-linecap="round">
                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(0,12,12)"></line>
                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(45,12,12)"></line>
                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(90,12,12)"></line>
                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(135,12,12)"></line>
                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(180,12,12)"></line>
                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(225,12,12)"></line>
                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(270,12,12)"></line>
                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(315,12,12)"></line>
            </g>
            <circle fill="currentColor" cx="12" cy="12" r="5"></circle>
        </symbol>
        <symbol id="dark" viewBox="0 0 24 24">
            <path fill="currentColor" d="M15.1,14.9c-3-0.5-5.5-3-6-6C8.8,7.1,9.1,5.4,9.9,4c0.4-0.8-0.4-1.7-1.2-1.4C4.6,4,1.8,7.9,2,12.5c0.2,5.1,4.4,9.3,9.5,9.5c4.5,0.2,8.5-2.6,9.9-6.6c0.3-0.8-0.6-1.7-1.4-1.2C18.6,14.9,16.9,15.2,15.1,14.9z"></path>
        </symbol>
    </svg>
    <label class="switch">
        <input type="checkbox" role="switch" name="dark" />
        <svg class="icon" width="48px" height="48px" aria-hidden="true"><use href="#light"></use></svg>
        <svg class="icon" width="48px" height="48px" aria-hidden="true"><use href="#dark"></use></svg>
        <span class="inner"></span>
        <span class="inner-icons">
            <svg class="icon" width="48px" height="48px" aria-hidden="true"><use href="#light"></use></svg>
            <svg class="icon" width="48px" height="48px" aria-hidden="true"><use href="#dark"></use></svg>
        </span>
    </label>
</div>

<style>
#wrapper {
    --hue: 223;
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.6s;
    --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);

    display: flex;
    font-size: 160px;
}

.switch,
input[role="switch"] {
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.switch {
    margin: auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.icon {
    color: hsla(var(--hue), 10%, 80%);
    pointer-events: none;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 24px;
    height: 24px;
    transition: color var(--trans-dur), transform var(--trans-dur) var(--trans-timing);
}

.icon:nth-of-type(2) {
    right: 12px;
    left: auto;
}

.inner,
.inner-icons {
    border-radius: 16px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 72px;
    height: 32px;
}

.inner:before,
.inner-icons {
    transition: transform var(--trans-dur) var(--trans-timing);
    transform: translateX(-40px);
}

.inner:before {
    background-color: var(--primary);
    border-radius: inherit;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.inner-icons {
    pointer-events: none;
}

.inner-icons .icon {
    color: hsl(0, 0%, 100%);
    top: 4px;
    left: 4px;
    transform: translateX(40px);
}

.inner-icons .icon:nth-child(2) {
    right: 4px;
    left: auto;
}

input[role="switch"] {
    background-color: hsl(0, 0%, 100%);
    border-radius: 24px;
    box-shadow: 0 0 0 2px hsla(var(--hue), 90%, 50%, 0), 0 4px 16px hsla(var(--hue), 10%, 10%, 0.1);
    outline: transparent;
    width: 88px;
    height: 48px;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
}

input[role="switch"]:checked {
    background-color: hsl(var(--hue), 10%, 10%);
}

input[role="switch"]:checked ~ .icon {
    color: hsla(var(--hue), 10%, 40%);
}

input[role="switch"]:checked ~ .inner:before,
input[role="switch"]:checked ~ .inner-icons {
    transform: translateX(40px);
}

input[role="switch"]:not(:checked) ~ .icon:first-of-type,
input[role="switch"]:checked ~ .icon:nth-of-type(2) {
    transform: rotate(360deg);
}

input[role="switch"]:checked ~ .inner-icons .icon:first-of-type {
    transform: translateX(-40px) rotate(-360deg);
}

input[role="switch"]:checked ~ .inner-icons .icon:nth-of-type(2) {
    transform: translateX(-40px) rotate(360deg);
}

input[role="switch"]:focus-visible {
    box-shadow: 0 0 0 2px hsla(var(--hue), 90%, 50%, 1), 0 4px 16px hsla(var(--hue), 10%, 10%, 0.1);
}
</style>
