---
const { title, description, image, url = "" } = Astro.props;
import '../styles/globals.css';
---

<head>
  <title>RSA | {title}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />
  <meta name="robots" content="index, follow" />
  <link
    rel="canonical"
    href={`https://royal-stack-alliance.netlify.app/${url}`}
  />
  <meta name="author" content="Royal Stack Alliance" />

  <!-- Open Graph Tags -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={url} />

  <!-- Twitter Card Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />

  <!-- Favicon -->
  <link rel="icon" href="/logos/RSA-Dark-Green.png" sizes="any" />
  <link rel="apple-touch-icon" href="/logos/RSA-Dark-Green.svg" />

  <!-- OpenStreetMap - LeafLet -->
  <link
    rel="stylesheet"
    href="../../../node_modules/leaflet/dist/leaflet.css"
  />
</head>
