---
import MegaMenu from "./navbar/MegaMenu.astro";
import MegaMenuItem from "./navbar/MegaMenuItem.astro";
import Hyperlink from "./navbar/NavLink.astro";
// import ToggleSwitch from "./navbar/ToggleSwitch.astro";
---

<nav
    role="navigation"
    class="flex flex-row items-center justify-between h-20 px-6 bg-charcoal text-cultured"
>
    <ul class="flex flex-row items-center">
        <li>
            <img
                class="m-2.5 w-11"
                src="/logos/RSA-Dark-Green.png"
                alt="CompanyLogo"
            />
        </li>
        <li>Royal Stack Alliance</li>
    </ul>
    <ul class="flex flex-row justify-around w-4/12">
        <li>
            <Hyperlink href="#">Home</Hyperlink>
        </li>
        <li>
            <Hyperlink href="#">About Us</Hyperlink>
        </li>
        <MegaMenu name="Departments" href="#">
            <MegaMenuItem name="Medicine" href="#" />
            <MegaMenuItem name="Finance" href="#" />
            <!-- <MegaMenu name="Departments" href="#">
                <MegaMenuItem name="Networking" />
                <MegaMenuItem name="Cyber Security" />
                <MegaMenuItem name="Software Development" />
                <MegaMenuItem name="Web Development" />
                <MegaMenuItem name="Game Development" />
            </MegaMenu> -->

            <MegaMenuItem name="Information Technology" href="#" />
            <!-- Networks, Cyber Security, Software & Web & Game Dev -->
            <MegaMenuItem name="Designing" href="#" />
        </MegaMenu>
        <li>
            <Hyperlink href="#">Blog</Hyperlink>
        </li>
    </ul>
    <ul class="flex flex-row">
        <li>
            <button>Staff Login</button>
        </li>
        <!--    TODO: Implement when the website it ready
        <li>
            <ToggleSwitch />
        </li> -->
    </ul>
</nav>
