---
import Map from "../components/Map.jsx";
---

<footer class="w-screen flex-center-col text-nowrap">
    <div class="grid w-full grid-cols-3 p-5 text-white bgimg h-96 bg-slate-500">
        <div>
            We create & collect high quality learning material! <br />
            Striving for best education in the most difficult areas.
        </div>
        <div>Middle Part - In Progress</div>
        <div class="flex-center-col">
            <h2>Contact</h2>
            <address>
                Solingen, Germany <br />
                royal-stack-alliance@protonmail.com <br />
                +49 1625308676 <br />
            </address>
            <Map client:only="react" />
        </div>
    </div>
    <div class="w-full h-20 text-white justify-evenly flex-center bg-charcoal">
        <a href="https://copyright.com/">&copy; Copyright 2024</a>
        <a href="https://copyright.com/">All rights reserved</a>
        <a href="https://copyright.com/">Privacy Policy</a>
    </div>
</footer>

<style>
    a {
        @apply flex justify-center items-center hover:underline text-sm h-full w-full;
    }

    .bgimg {
        background-image: url("/assets/FooterBackground.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
