---

---

<div class="flex flex-col items-center justify-center">
    <img src="/assets/profile.svg" alt="profile" />
    <div class="flex flex-row justify-center m-2">
        <img src="/assets/rhombus.svg" alt="rhombus" />
        <h1 class="text-3xl">Venen Jean</h1>
        <img src="/assets/rhombus.svg" alt="rhombus" />
    </div>
    <h2>Software &#38; Website Developer</h2>
</div>

<style>
    h1,
    img[alt="rhombus"] {
        @apply inline;
    }

    img[alt="profile"] {
        @apply m-3.5 mt-0;
        height: 230px;
        width: 230px;
    }

    img[alt="rhombus"] {
        @apply mt-1 mx-2;
        height: 28px;
        width: 21px;
    }
</style>
